body {
  background-color: rgb(247, 189, 42);
}
h1,
h2 {
  font-size: 60px;
  text-align: center;
  font-family: arial;
  margin: 10px;
}

button {
  display: block;
  margin: auto;
}

.container {
  width: 600px;
  margin: auto;
  cursor: url(../img/palu1.png), auto;
}

.container:active {
  cursor: url(../img/palu2.png), auto;
}

.tanah {
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
  float: left;
}

.tanah::after {
  content: "";
  display: block;
  width: 200px;
  height: 100px;
  background: url(../img/tanah.png) bottom center no-repeat;
  background-size: 80%;
  position: absolute;
  bottom: 0;
}

.tikus {
  width: 100%;
  height: 100%;
  background: url(../img/tikus.png) bottom center no-repeat;
  background-size: 60%;
  position: absolute;
  top: 100px;
  transition: top 0.3s;
}

.tanah.muncul .tikus {
  top: 0;
}
.mulai {
  background-color: black;
  color: white;
  border-radius: 30px;
  transition: transform 0.3s ease;
}
.mulai::after,
.mulai::before {
  content: "";
  position: absolute;
  opacity: 0.3;
  border-radius: inherit;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: transform 0.3s ease;
}
.mulai:hover {
  transform: translate(-12px, -12px);
}
.mulai:hover::after {
  transform: translate(6px, 6px);
}
.mulai:hover::before {
  transform: translate(12px, 12px);
}
footer {
  background: black;
  position: absolute;
  bottom: 0;
  z-index: 2;
}
